.main {
  min-height: 90vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main h1 {
  margin-bottom: 0.5rem;
}
.main h2 {
  margin: 0;
}
.menuButton {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border-color: slategrey;
  right: 10px;
  top: 10px;
  padding: 5px
}
.menuButtonBar {
  width: 40px;
  height: 5px;
}
.card-1 {
  height: 100vh;
}
.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
